@import '../../styles/colors.scss';

.surveyListWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $disabledBackground;

  .contentWrap {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-self: center;
    padding: 40px;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;


      li {
        height: 250px;
        display: flex;
        flex-basis: 48%;
        flex-direction: column;
        justify-content: space-between;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0 1px 3px -1px $black;
        margin-bottom: 24px;

        .surveyContent {
          position: relative;
          display: flex;
          flex-grow: 1;
          flex-direction: row;
          justify-content: space-between;
          background-image:
            linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
            linear-gradient(to right, $white, $white);
          background-position: 0 0, 54 0;
          background-size: 54px 100%, 100% 100%;
          background-repeat: no-repeat;
          border-radius: 8px 8px 0 0;

          .iconWrap {
            position: absolute;
            display: flex;
            border-radius: 100%;
            box-shadow: 0 1px 3px -1px $black;
            padding: 10px;
            top: -10px;
            right: -10px;

            &.red {
              background-color: $invalid;
            }

            &.green {
              background-color: $valid;
            }
          }

          time {
            width: 60px;
            height: 100px;
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            align-self: center;
            align-items:  center;
            justify-content: center;
            background-color: $primaryLight;
            border-radius: 8px;
            color: $white;
            margin-left: 24px;

            .day {
              font-size: 40px;
              font-weight: bold;
            }

            .month {
              text-transform: lowercase;
              margin: 0 0 4px;
            }

            .year {
              font-size: 16px;
            }
          }

          p {
            align-self: center;
            font-size: 18px;
            margin: 24px;
          }
        }

        footer {
          background-color: $primary;
          border-radius: 0 0 8px 8px;
          color: $white;
          line-height: 40px;
          text-align: center;
          text-transform: lowercase;
          cursor: pointer;

          &:hover {
            background-color: $primaryDark;
          }
        }
      }
    }
  }
}